._0 {
background: #e1d569;
}
._0 .tausch {
fill: #efb844;
}
._0 .rausch {
fill: #cf5355;
}
._0 .misc {
color: #e0cf67;
}

._1 {
background: #86a73e;
}
._1 .tausch {
fill: #cce681;
}
._1 .rausch {
fill: #adc53d;
}
._1 .misc {
color: #8ca935;
}

._2 {
background: #73b5a7;
}
._2 .tausch {
fill: #ffed46;
}
._2 .rausch {
fill: #e3ac13;
}
._2 .misc {
color: #3e7c33;
}

._3 {
background: #b9df65;
}
._3 .tausch {
fill: #f9f846;
}
._3 .rausch {
fill: #3786c8;
}
._3 .misc {
color: #c32116;
}

._4 {
background: #f08a1e;
}
._4 .tausch {
fill: #b52117;
}
._4 .rausch {
fill: #42899f;
}
._4 .misc {
color: #d42b28;
}

._5 {
background: #fcc300;
}
._5 .tausch {
fill: #377570;
}
._5 .rausch {
fill: #70b42d;
}
._5 .misc {
color: #de0a21;
}

._6 {
background: #9d439a;
}
._6 .tausch {
fill: #fec600;
}
._6 .rausch {
fill: #5b9a27;
}
._6 .misc {
color: #e00a22;
}

._7 {
background: #a8d9e0;
}
._7 .tausch {
fill: #8798ce;
}
._7 .rausch {
fill: #b35ca0;
}
._7 .misc {
color: #f1882c;
}

._8 {
background: #9b1921;
}
._8 .tausch {
fill: #479034;
}
._8 .rausch {
fill: #d34723;
}
._8 .misc {
color: #1b4367;
}

